<a href="https://colab.research.google.com/github/RufinoMartin/DataScience2021/blob/main/Notebook_Integrado.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Notebook de Integracion de 3 dataframes previamente elaborados:

- df_Restricciones_Covid
- df_Indices_Commodities
- df_Indices_Bursatiles

Se generará a partir de ellos un unico Dataframe, se realizarán analisis multivariados y a partir de los hallazgos se consolidará la hipotesis de trabajo.

In [ ]:
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
import pandas_profiling
from pandas_profiling import ProfileReport
from functools import reduce
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

Por el gran tamaño de los datasets, se ha realizado una digestion previa de los mismos. 

Para acceder a los notebooks preliminares donde se realizó dicha labor:

 https://github.com/RufinoMartin/DataScience2021
 
 El resultado de la misma han sido tres archivos, que procedemos a importar, y que de no funcionar el pd.read, se encuentran disponibles con la terminacion de "_Final.csv" en el repositorio. Copiar el URL del Raw, y pegar:

In [ ]:
df_Restricciones_Covid = pd.read_csv('https://raw.githubusercontent.com/RufinoMartin/DataScience2021/main/Restricciones_Covid_Final.csv?token=GHSAT0AAAAAABSWKBVI4A6CDWFNSJAADXQUYRXPD3A')

In [ ]:
df_Indices_Commodities = pd.read_csv('https://raw.githubusercontent.com/RufinoMartin/DataScience2021/main/Indices_Commodities_Final.csv?token=GHSAT0AAAAAABSWKBVJPLXH6IWBNNTERFPWYRXPEQA')

In [ ]:
df_Indices_Bursatiles = pd.read_csv('https://raw.githubusercontent.com/RufinoMartin/DataScience2021/main/Indices_Bursatiles_Final.csv?token=GHSAT0AAAAAABSWKBVIVDXT3NMA7TXRD5H6YRXPCUA')

In [ ]:
df_Restricciones_Covid.head(1)

   Unnamed: 0  CountryName    DateTime  StringencyIndex  ContainmentHealthIndex  EconomicSupportIndex  GovernmentResponseIndex
0           0  Afghanistan  2020-01-01              0.0                     0.0                   0.0                      0.0

In [ ]:
# Exploracion basica de cada Dataframe

In [ ]:
#Probamos unir los dataframes

dfs = [df_Restricciones_Covid, df_Indices_Commodities, df_Indices_Bursatiles]

In [ ]:
df_Integrado = reduce(lambda left,right: pd.merge(left,right,on='DateTime'), dfs)

In [ ]:
df_Integrado.head(5)

   Unnamed: 0_x  CountryName    DateTime  StringencyIndex  ContainmentHealthIndex  EconomicSupportIndex  GovernmentResponseIndex  Unnamed: 0_y   Alimentos  Industrial        Agro     Metales     Energia    Promedio  Unnamed: 0  $DYX  $S&P500     $SHA     $UKX    $SX5P
0             0  Afghanistan  2020-01-01              0.0                     0.0                   0.0                      0.0            12  105.402563  124.487973  102.189213  131.148921  127.414325  119.566115          12  96.5  3225.52  3092.29  7587.85  3433.74
1            27      Albania  2020-01-01              0.0                     0.0                   0.0                      0.0            12  105.402563  124.487973  102.189213  131.148921  127.414325  119.566115          12  96.5  3225.52  3092.29  7587.85  3433.74
2            54      Algeria  2020-01-01              0.0                     0.0                   0.0                      0.0            12  105.402563  124.487973  102.189213  131.148921  127.414325  119.566115          12  96.5  3225.52  3092.29  7587.85  3433.74
3            81      Andorra  2020-01-01              0.0                     0.0                   0.0                      0.0            12  105.402563  124.487973  102.189213  131.148921  127.414325  119.566115          12  96.5  3225.52  3092.29  7587.85  3433.74
4           108       Angola  2020-01-01              0.0                     0.0                   0.0                      0.0            12  105.402563  124.487973  102.189213  131.148921  127.414325  119.566115          12  96.5  3225.52  3092.29  7587.85  3433.74

In [ ]:
df_Integrado.drop(columns={'Unnamed: 0_x','Unnamed: 0_y','Unnamed: 0'}, inplace=True)

In [ ]:
df_Integrado.head(5)

   CountryName    DateTime  StringencyIndex  ContainmentHealthIndex  EconomicSupportIndex  GovernmentResponseIndex   Alimentos  Industrial        Agro     Metales     Energia    Promedio  $DYX  $S&P500     $SHA     $UKX    $SX5P
0  Afghanistan  2020-01-01              0.0                     0.0                   0.0                      0.0  105.402563  124.487973  102.189213  131.148921  127.414325  119.566115  96.5  3225.52  3092.29  7587.85  3433.74
1      Albania  2020-01-01              0.0                     0.0                   0.0                      0.0  105.402563  124.487973  102.189213  131.148921  127.414325  119.566115  96.5  3225.52  3092.29  7587.85  3433.74
2      Algeria  2020-01-01              0.0                     0.0                   0.0                      0.0  105.402563  124.487973  102.189213  131.148921  127.414325  119.566115  96.5  3225.52  3092.29  7587.85  3433.74
3      Andorra  2020-01-01              0.0                     0.0                   0.0                      0.0  105.402563  124.487973  102.189213  131.148921  127.414325  119.566115  96.5  3225.52  3092.29  7587.85  3433.74
4       Angola  2020-01-01              0.0                     0.0                   0.0                      0.0  105.402563  124.487973  102.189213  131.148921  127.414325  119.566115  96.5  3225.52  3092.29  7587.85  3433.74

In [ ]:
df_Integrado.shape

(7800, 20)

In [ ]:
df_Integrado.describe()

       Unnamed: 0_x  StringencyIndex  ContainmentHealthIndex  EconomicSupportIndex  GovernmentResponseIndex  Unnamed: 0_y    Alimentos   Industrial         Agro      Metales      Energia     Promedio   Unnamed: 0         $DYX      $S&P500         $SHA         $UKX        $SX5P
count   7800.000000      7586.000000             7586.000000           7709.000000              7586.000000   7800.000000  7800.000000  7800.000000  7800.000000  7800.000000  7800.000000  7800.000000  7800.000000  7800.000000  7800.000000  7800.000000  7800.000000  7800.000000
mean    4195.750000        50.049467               51.751716             38.458295                50.083720     24.000000   116.062895   154.804847   106.390143   160.178891   142.092581   136.367912    24.000000    94.153600  3778.564000  3331.544800  6603.337200  3241.290800
std     2425.499725        23.772170               20.835915             30.662184                20.425284      7.211565    15.549269    29.274051     9.288494    21.217574    59.298812    33.317101     7.211565     2.795415   621.162777   270.317421   587.705708   328.982274
min        0.000000         0.000000                0.000000              0.000000                 0.000000     12.000000    92.933630   108.406682    90.561779   124.549031    52.771306    83.970511    12.000000    89.930000  2584.590000  2750.300000  5577.270000  2700.620000
25%     2099.750000        36.110000               44.940000              0.000000                43.230000     18.000000    99.999653   125.860440    97.428888   143.912103    93.335327   108.926838    18.000000    92.140000  3269.960000  3218.050000  6076.600000  2954.550000
50%     4210.500000        52.780000               56.900000             37.500000                54.690000     24.000000   116.418897   161.528058   109.395015   166.122192   138.811125   137.394637    24.000000    93.890000  3756.070000  3397.360000  6580.610000  3185.260000
75%     6315.750000        67.590000               65.950000             62.500000                64.060000     30.000000   131.708532   174.963240   114.131176   171.874890   183.050594   163.756477    30.000000    96.500000  4307.540000  3547.340000  7059.450000  3512.500000
max     8421.000000       100.000000               93.450000            100.000000                91.150000     36.000000   139.821403   203.753651   119.085099   194.960248   257.372357   192.387050    36.000000    99.050000  4766.180000  3655.090000  7587.850000  3818.460000

In [ ]:
df_Integrado.info

<bound method DataFrame.info of       Unnamed: 0_x  CountryName    DateTime  StringencyIndex  ContainmentHealthIndex  EconomicSupportIndex  GovernmentResponseIndex  Unnamed: 0_y   Alimentos  Industrial        Agro     Metales     Energia    Promedio  Unnamed: 0   $DYX  $S&P500     $SHA     $UKX    $SX5P
0                0  Afghanistan  2020-01-01             0.00                    0.00                   0.0                     0.00            12  105.402563  124.487973  102.189213  131.148921  127.414325  119.566115          12  96.50  3225.52  3092.29  7587.85  3433.74
1               27      Albania  2020-01-01             0.00                    0.00                   0.0                     0.00            12  105.402563  124.487973  102.189213  131.148921  127.414325  119.566115          12  96.50  3225.52  3092.29  7587.85  3433.74
2               54      Algeria  2020-01-01             0.00                    0.00                   0.0                     0.00            12  105.402563  124.487973  102.189213  131.148921  127.414325  119.566115          12  96.50  3225.52  3092.29  7587.85  3433.74
3               81      Andorra  2020-01-01             0.00                    0.00                   0.0                     0.00            12  105.402563  124.487973  102.189213  131.148921  127.414325  119.566115          12  96.50  3225.52  3092.29  7587.85  3433.74
4              108       Angola  2020-01-01             0.00                    0.00                   0.0                     0.00            12  105.402563  124.487973  102.189213  131.148921  127.414325  119.566115          12  96.50  3225.52  3092.29  7587.85  3433.74
...            ...          ...         ...              ...                     ...                   ...                      ...           ...         ...         ...         ...         ...         ...         ...         ...    ...      ...      ...      ...      ...
7795          8313    Venezuela  2022-01-01            28.70                   36.31                   0.0                    31.77            36  139.821403  182.846230  117.708599  177.855471  242.756336  190.899599          36  96.54  4515.55  3361.44  7464.37  3747.52
7796          8340      Vietnam  2022-01-01            68.52                   74.40                   0.0                    65.10            36  139.821403  182.846230  117.708599  177.855471  242.756336  190.899599          36  96.54  4515.55  3361.44  7464.37  3747.52
7797          8367        Yemen  2022-01-01            12.04                   16.19                   0.0                    14.17            36  139.821403  182.846230  117.708599  177.855471  242.756336  190.899599          36  96.54  4515.55  3361.44  7464.37  3747.52
7798          8394       Zambia  2022-01-01            37.96                   42.62                  37.5                    41.98            36  139.821403  182.846230  117.708599  177.855471  242.756336  190.899599          36  96.54  4515.55  3361.44  7464.37  3747.52
7799          8421     Zimbabwe  2022-01-01            52.78                   61.90                   0.0                    54.17            36  139.821403  182.846230  117.708599  177.855471  242.756336  190.899599          36  96.54  4515.55  3361.44  7464.37  3747.52

[7800 rows x 20 columns]>

In [ ]:
#Grafico compartido para las distribuciones de Restricciones y Apoyo Economico. 

fig = plt.figure(figsize=(10,8))

sns.distplot(df_Integrado.StringencyIndex, kde=True, hist=True, bins=15, label='StringencyIndex')
sns.distplot(df_Integrado.Promedio, kde=True, hist=True, bins=15, label='Promedio')

fig.legend()
plt.xlabel('Tiempo')
plt.ylabel('')
plt.title('')

plt.show()

/usr/local/lib/python3.7/dist-packages/seaborn/distributions.py:2619: FutureWarning: `distplot` is a deprecated function and will be removed in a future version. Please adapt your code to use either `displot` (a figure-level function with similar flexibility) or `histplot` (an axes-level function for histograms).
  warnings.warn(msg, FutureWarning)
/usr/local/lib/python3.7/dist-packages/seaborn/distributions.py:2619: FutureWarning: `distplot` is a deprecated function and will be removed in a future version. Please adapt your code to use either `displot` (a figure-level function with similar flexibility) or `histplot` (an axes-level function for histograms).
  warnings.warn(msg, FutureWarning)

In [ ]:
#Correlaciones de Heatmap

plt.figure(figsize=(15, 10))

heatmap_test = df_Integrado.corr()
sns.heatmap(heatmap_test, 
            xticklabels = heatmap_test.columns.values,
            yticklabels = heatmap_test.columns.values,
            annot = True);

In [ ]:
#Boxplot
plt.figure(figsize=(20,20)) #defino el tamaño del grafico
sns.boxplot(y = 'Metales', x = '$SHA', data = df_Integrado)
plt.show()

In [ ]:
df_Integrado.groupby('Alimentos')['Industrial'].describe()

            count        mean           std         min         25%         50%         75%         max
Alimentos
92.933630   312.0  108.406682  5.266463e-13  108.406682  108.406682  108.406682  108.406682  108.406682
96.516706   312.0  112.803065  5.551137e-13  112.803065  112.803065  112.803065  112.803065  112.803065
97.199983   312.0  113.212799  1.138695e-13  113.212799  113.212799  113.212799  113.212799  113.212799
97.635718   312.0  125.860440  3.843095e-13  125.860440  125.860440  125.860440  125.860440  125.860440
98.623680   312.0  133.782004  3.985431e-13  133.782004  133.782004  133.782004  133.782004  133.782004
99.805668   312.0  120.717372  1.708042e-13  120.717372  120.717372  120.717372  120.717372  120.717372
99.999653   312.0  136.651739  5.978147e-13  136.651739  136.651739  136.651739  136.651739  136.651739
101.111476  312.0  118.312896  2.419726e-13  118.312896  118.312896  118.312896  118.312896  118.312896
105.348153  312.0  137.755864  1.138695e-13  137.755864  137.755864  137.755864  137.755864  137.755864
105.402563  312.0  124.487973  2.704400e-13  124.487973  124.487973  124.487973  124.487973  124.487973
108.414774  312.0  144.381173  4.554779e-13  144.381173  144.381173  144.381173  144.381173  144.381173
109.504034  312.0  159.485686  7.401515e-13  159.485686  159.485686  159.485686  159.485686  159.485686
116.418897  312.0  167.374399  5.124126e-13  167.374399  167.374399  167.374399  167.374399  167.374399
119.477476  312.0  170.254522  2.562063e-13  170.254522  170.254522  170.254522  170.254522  170.254522
122.261367  312.0  174.963240  7.116842e-13  174.963240  174.963240  174.963240  174.963240  174.963240
129.147962  312.0  167.860409  7.686189e-13  167.860409  167.860409  167.860409  167.860409  167.860409
129.753654  312.0  181.237546  1.281032e-12  181.237546  181.237546  181.237546  181.237546  181.237546
131.142625  312.0  172.158216  1.224097e-12  172.158216  172.158216  172.158216  172.158216  172.158216
131.708532  312.0  203.753651  2.277389e-13  203.753651  203.753651  203.753651  203.753651  203.753651
132.167485  312.0  202.228003  1.992716e-13  202.228003  202.228003  202.228003  202.228003  202.228003
132.362196  312.0  161.528058  5.693473e-14  161.528058  161.528058  161.528058  161.528058  161.528058
132.400054  312.0  183.272966  6.547494e-13  183.272966  183.272966  183.272966  183.272966  183.272966
135.126663  312.0  168.617548  4.839452e-13  168.617548  168.617548  168.617548  168.617548  168.617548
137.288020  312.0  198.168686  1.651107e-12  198.168686  198.168686  198.168686  198.168686  198.168686
139.821403  312.0  182.846230  7.970863e-13  182.846230  182.846230  182.846230  182.846230  182.846230